#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App{
  height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;

}

.App-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.About-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 90%;
}
.About-me p{
  font-size: 1.5rem;
  overflow: wrap;
}

.About-picture{
  width: 50%;
  border-radius: 50%;
}

.About-picture img{
  width: 100%;
  border-radius: 50%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.m-2{
  margin: 2rem;
}

@media screen and (max-width: 768px){
  #root{
    padding: 1rem;
  }
  .App-header{
    flex-direction: column;
  }
  .About-me p{
    font-size: 1.25rem;
  }
  .m-2{
    margin: 1rem;
  }
  
}